/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

button {
  transition-duration: 0.4s;
  background-color: white;
  border-radius: 4px;
  font-weight: bold;
  margin-left: 8px;
}

button:hover {
  background-color: #1DA1F2;
  color: white;
}